.DS_Store
.idea/artifacts/
.idea/copyright/
.idea/inspectionProfiles/
.idea/libraries/
.idea/scopes/
.idea/dictionaries/
.idea/*.xml
.idea/.*
.mvn/.*
.mvn/wrapper/
.settings/*
.project
.classpath
**/*.settings/*
**/*bin/*
*.iml
*.iws
*.ids
*.log
*.jar
*.war
*.ear
*.zip
!*apache-tomcat*.zip
.~lock.*
~$*
out/
classes/
target/
overlays/
rebel.xml
